.paragraph{
  border: 1px solid black;
    padding-left: 0px;
      padding-right: 0px;
  float: none
}
.paragraph hr {
  width: 230px;
}
.paragraph img{
width: 100%
}
.movie i{
  float: right
}
.movie {
  font-size: 20px;
    padding: 6px 20px;
    margin-bottom: 5px;
  width: 100%;
  display: inline-block
}
